.msc-price {
    &__strikethrough {
        color: $msv-gray-900;
        margin-right: 5px;
        text-decoration: line-through;
    }

    &.discount-value {
        .msc-price__strikethrough {
            display: block;
            margin-right: 0;
        }
    }

    .msc-price__salesAgreementPrompt {
        color: var(--msv-accent-brand-color);
    }
}
