// font
$promo-banner-font-size: 14px;
$promo-banner-line-height: 20px;
$promo-banner-bottom-padding: 10px;
$promo-banner-top-padding: 10px;
$promo-banner-link-margin-left: 4px;

.ms-promo-banner {
    background-color: $msv-gray-60;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $promo-banner-bottom-padding;
    padding-top: $promo-banner-top-padding;
    width: 100%;

    &.alignment__center {
        text-align: center;
    }

    &.alignment__left {
        text-align: left;
    }

    &.alignment__right {
        text-align: right;
    }

    .msc-carousel__indicators {
        display: none;
    }

    .ms-promo-banner__text,
    .ms-promo-banner__link {
        color: var(--msv-font-primary-color);
        font-size: $promo-banner-font-size;
        font-style: normal;
        font-weight: $msv-font-weight-normal;
        line-height: $promo-banner-line-height;
    }

    .ms-promo-banner__link {
        border: 0;
        margin-left: $promo-banner-link-margin-left;
        text-decoration: underline;
    }

    .ms-promo-banner__carousel {
        width: 98%;
    }

    .msc-carousel__inner {
        color: var(--msv-font-primary-color);
    }

    .ms-promo-banner__close-button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &::after {
            @include msv-icon();
            content: $msv-x-shape;
        }

        .ms-promo-banner__close-button__label {
            display: none;
        }
    }
}

@media screen and (max-width: $msv-breakpoint-m) {
    .ms-promo-banner .ms-promo-banner__carousel {
        width: 95%;
    }
}
