[dir="rtl"] {
    .ms-checkout-customer-account {
        &__available-credit {
            float: left;
        }

        &__excess-credit {
            float: left;
        }

        &__order-total {
            float: left;
        }

        &__remove {
            float: left;
        }
    }
}
