@import "../common/00-settings/colors.scss";
@import "../common/00-settings/font.scss";
@import "../common/00-settings/responsive-breakpoints.scss";
@import "../common/01-tools/mixins.scss";
@import "../common/01-tools/layout.scss";
@import "../common/02-generic/image.scss";
@import "../common/02-generic/button.scss";
@import "../common/00-settings/icons.scss";
@import "../common/02-generic/reset.scss";
@import "../common/01-tools/bootstrap.scss";

$msc-account-welcome-title-padding-bottom: 32px;
$msc-account-other-title-margin-top: 60px;
$msc-account-welcome-title-margin-top: 52px;
$msc-account-welcome-title-links-padding-top: 14px;
$msc-loyalty-tile-padding-bottom: 120px;
$msc-account-generic-title-margin-top: 60px;
$msc-link-padding-right: 12px;
$msc-b2b-account-other-title-margin-top: 64px;
$msc-account-tile-heading-margin-right: 14px;
$msc-account-description-padding-top: 14px;

// style presets
:root {
    --msv-account-landing-title-font-color: var(--msv-font-primary-color);

    // title
    --msv-account-landing-title-font-size: var(--msv-body-font-size-xl);

    // tiles
    --msv-account-landing-tile-heading-size: var(--msv-body-font-size-l);
    --msv-account-landing-tile-heading-color: var(--msv-font-primary-color);
    --msv-account-landing-tile-text-size: var(--msv-body-font-size-m);
    --msv-account-landing-tile-text-color: var(--msv-font-primary-color);

    // link
    --msv-account-landing-link-color: var(--msv-font-primary-color);
}

.ms-account {
    &-welcome-tile {
        margin-top: $msc-account-welcome-title-margin-top;

        &__heading {
            @include font-heading-h2-l();
            color: var(--msv-account-landing-title-font-color);
            border-bottom: 0.5px solid $msv-gray-50;
            padding-bottom: $msc-account-welcome-title-padding-bottom;
        }
    }

    &-wishlist-tile,
    &-order-templates-tile,
    &-address-tile,
    &-loyalty-tile,
    &-organization-users-tile,
    &-customer-balance-tile,
    &-invoice-tile,
    &-b2b-requests-tile,
    &-catalogs-tile {
        margin-top: $msc-account-other-title-margin-top;
    }

    &-loyalty-tile {
        padding-bottom: $msc-loyalty-tile-padding-bottom;

        &__heading {
            @include add-icon($msv-bookmark-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-generic-tile,
    &-wishlist-tile,
    &-order-templates-tile,
    &-address-tile,
    &-loyalty-tile,
    &-organization-users-tile,
    &-customer-balance-tile,
    &-invoice-tile,
    &-b2b-requests-tile {
        &__heading {
            @include font-heading-h3-l();
            color: var(--msv-account-landing-tile-heading-color);
            display: flex;
            align-items: center;
            text-transform: capitalize;
        }

        &__links {
            @include link-regular-m();
            padding-top: $msc-account-welcome-title-links-padding-top;
        }

        &__link {
            text-decoration: underline;
            color: var(--msv-account-landing-link-color);
            padding-right: $msc-link-padding-right;
        }

        &__link-button {
            color: var(--msv-account-landing-link-color);
            cursor: pointer;
        }

        &__description {
            @include font-body-regular-m();
            color: var(--msv-account-landing-tile-text-color);
            padding-top: $msc-account-description-padding-top;
        }

        &__balance {
            @include font-body-regular-m();
            color: var(--msv-account-landing-tile-text-color);
            padding-top: $msc-account-description-padding-top;
        }

        &__value {
            @include font-body-bold-m();
            color: var(--msv-account-landing-tile-text-color);

            &::before,
            &::after {
                content: " ";
            }
        }
    }

    &-catalogs-tile {
        .ms-account-generic-tile__heading {
            @include add-icon($msv-bookmark-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-generic-tile.order-tile {
        margin-top: $msc-account-generic-title-margin-top;

        .ms-account-generic-tile__heading {
            @include add-icon($msv-time-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-generic-tile.profile-tile {
        margin-top: $msc-account-generic-title-margin-top;

        .ms-account-generic-tile__heading {
            @include add-icon($msv-signin, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-wishlist-tile {
        &__heading {
            @include add-icon($msv-Heart, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-address-tile {
        &__heading {
            @include add-icon($msv-Shop-Address, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-customer-balance-tile {
        &__heading {
            @include add-icon($msv-bank-card-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-organization-users-tile {
        &__heading {
            @include add-icon($msv-group-2-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-order-templates-tile {
        &__heading {
            @include add-icon($msv-Invoice, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-invoice-tile {
        &__heading {
            @include add-icon($msv-money-dollar-circle-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }
    }

    &-b2b-requests-tile {
        &__heading {
            @include add-icon($msv-file-history-line, before);

            &::before {
                font-size: $msv-font-size-ml;
                margin-right: $msc-account-tile-heading-margin-right;
            }
        }

        &__links {
            margin-top: 14px;

            @include link-regular-m();
        }
    }

    @media (min-width: $msv-breakpoint-m+1) and (max-width: $msv-breakpoint-l) {
        &-welcome-tile {
            &__heading {
                @include font-heading-h2-m();
            }
        }

        &-generic-tile,
        &-wishlist-tile,
        &-order-templates-tile,
        &-address-tile,
        &-loyalty-tile,
        &-organization-users-tile,
        &-customer-balance-tile,
        &-invoice-tile,
        &-b2b-requests-tile__heading {
            &__heading {
                @include font-heading-h3-m();
            }
        }
    }

    @media (max-width: $msv-breakpoint-m) {
        &-welcome-tile {
            &__heading {
                @include font-heading-h2-s();
            }
        }

        &-generic-tile,
        &-wishlist-tile,
        &-order-templates-tile,
        &-address-tile,
        &-loyalty-tile,
        &-organization-users-tile,
        &-customer-balance-tile,
        &-invoice-tile,
        &-b2b-requests-tile__heading {
            &__heading {
                @include font-heading-h3-s();
            }
        }
    }
}
