@import "../common/00-settings/colors.scss";
@import "../common/00-settings/font.scss";
@import "../common/00-settings/responsive-breakpoints.scss";
@import "../common/02-generic/image.scss";
@import "../common/01-tools/layout.scss";
@import "../common/01-tools/mixins.scss";
@import "../common/02-generic/button.scss";
@import "../common/00-settings/icons.scss";
@import "../common/02-generic/reset.scss";

$content-block-min-height: 150px;
$hero-body-font-size: 16px;
$hero-body-line-height: 21px;
$hero-body-font-weight: normal;
$hero-body-max-length: 30em;
$hero-body-top-margin: 8px;
$hero-content-text-margin-top: 4px;
$hero-content-button-margin-top: 32px;
$hero-heading-font-size: 32px;
$hero-heading-line-height: 43px;
$hero-heading-font-weight: normal;
$hero-heading-max-length: 30em;
$hero-link-to-link-spacing: 16px;
$hero-links-secondary-padding: 12px 20px;
$additional-content-line-height: 80px;
$msv-mobile-title-font-size-xl: 40px;
$msv-tablet-title-font-size-xl: 60px;
$msv-title-line-height: 50px;
$msv-tablet-title-line-height-xl: 72px;
$content-block-details-padding-desktop: 120px 80px 60px 80px;
$content-block-details-padding-tablet: 40px 24px 28px 24px;
$content-block-details-padding-mobile: 40px 16px 28px 16px;
$additional-content-cta-margin-mobile: -117px;
$additional-content-cta-margin-tablet: -137px;
$msv-mobile-title-font-size-s: 24px;
$msv-mobile-title-line-height-m: 40px;
$msv-tablet-title-line-height-m: 40px;
$additional-content-text-font-size: 36px;
$b2b-hero-body-right-margin: 40px;
$b2b-hero-content-text-margin-top: 28px;
$b2b-hero-content-button-margin-top: 28px;
$b2b-hero-link-to-link-padding: 20px;
$b2b-hero-links-secondary-margin-left: 20px;
$b2b-hero-links-mobile-secondary-margin-top: 14px;
$b2b-content-block-details-margin-left: 120px;
$b2b-content-block-details-margin-top: 79px;
$b2b-content-block-paragraph-padding-right: 5px;
$additional-content-link-padding: 4px;

:root {
    // heading
    --msv-content-block-heading-font-size: #{$hero-heading-font-size};
    --msv-content-block-heading-font-color: var(--msv-font-primary-color);
    // additional content heading
    --msv-additional-content-text-font-size: #{$additional-content-text-font-size};

    // Text theme
    --msv-content-block-textheme-dark: var(--msv-font-primary-color);
    --msv-content-block-textheme-light: #{$msv-white};
    --msv-content-block-text-font-size: var(--msv-body-font-size-m);

    // primary button
    --msv-content-block-primary-btn-bg: var(--msv-accent-brand-color);
    --msv-content-block-primary-btn-font-color: var(--msv-font-secondary-color);
    --msv-content-block-primary-btn-border: var(--msv-accent-brand-color);
}

@mixin overlay-text-on-image {
    .ms-content-block__details {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

.ms-content-block {
    min-height: $content-block-min-height;

    &[data-m-layout="full-width"] {
        position: relative;

        .ms-content-block__image,
        .ms-content-block__image img {
            width: $msv-width-full;
        }

        .ms-content-block__image svg {
            width: $msv-width-full;
        }

        .ms-content-block__details,
        &.textplacement__left .ms-content-block__details {
            text-align: left;
            align-items: flex-start;
        }

        &.textplacement__center .ms-content-block__details {
            align-items: center;
            text-align: center;
        }

        &.textplacement__right .ms-content-block__details {
            text-align: right;
            align-items: flex-end;
        }

        .ms-content-block__title {
            @include font-callout-bold-l();
            color: $msv-white;
            letter-spacing: 0.01em;
            width: calc(8 * #{$msv-column-width-s});

            &[contenteditable="true"] {
                width: 100%;
            }

            @media (max-width: $msv-breakpoint-m) {
                @include font-callout-bold-s();
                color: $msv-white;
                width: calc(4 * #{$msv-column-width-l});
            }

            @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-xl) {
                @include font-callout-bold-m();
                color: $msv-white;
                width: calc(8 * #{$msv-column-width-m});
            }
        }

        .ms-content-block__text {
            @include font-body-regular-m();
            color: $msv-white;
            width: calc(6 * #{$msv-column-width-s});

            @media (max-width: $msv-breakpoint-m) {
                width: calc(4 * #{$msv-column-width-l});
                color: $msv-white;
            }

            @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
                width: calc(8 * #{$msv-column-width-m});
                color: $msv-white;
            }
        }

        &.texttheme__light .ms-content-block__title,
        &.texttheme__light .ms-content-block__text {
            color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__title,
        &.texttheme__dark .ms-content-block__text {
            color: var(--msv-content-block-textheme-dark);
        }

        /* body should have top margin only when there's something above it */
        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        * + .ms-content-block__text {
            margin-top: $hero-content-text-margin-top;
        }

        .ms-content-block__cta {
            border-radius: 2px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 99;
        }

        /* links should have top margin only when there's something above it */
        * + .ms-content-block__cta {
            margin-top: $hero-content-button-margin-top;
        }

        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        .ms-content-block__details {
            margin: 7% 60px 60px 60px;
            display: flex;
            flex-direction: column;
            align-content: center;

            .msc-cta__primary {
                @include secondary-button-light();
            }

            .msc-cta__secondary {
                @include secondary-button-light();
                margin: 12px 0;
            }

            @media (max-width: $msv-breakpoint-m) {
                padding: $content-block-details-padding-mobile;
                position: static;
                background: $msv-gray-20;
                margin: 0;

                .msc-cta__primary {
                    @include secondary-button-dark();
                }

                .msc-cta__secondary {
                    @include secondary-button-dark();
                }
            }

            @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l - 1) {
                padding: $content-block-details-padding-tablet;
                position: static;
                background: $msv-gray-20;
                margin: 0;

                .msc-cta__primary {
                    @include secondary-button-dark();
                }

                .msc-cta__secondary {
                    @include secondary-button-dark();
                }
            }

            &__additional-content {
                display: grid;
                font-style: normal;
                font-weight: $msv-font-weight-normal;
                flex-direction: column;
                color: $msv-white;
                margin-left: auto;
                width: $msv-width-full;
                margin-right: 60px;
                margin-bottom: 80px;
                position: absolute;
                justify-content: end;
                bottom: 80px;

                &__text {
                    @include msv-beth-ellen(
                        $font-weight: $msv-font-weight-normal,
                        $font-style: $msv-font-style-normal,
                        $font-size: var(--msv-additional-content-text-font-size),
                        $line-height: $additional-content-line-height
                    );
                    color: $msv-white;
                    text-align: center;
                }

                &__container {
                    display: flex;
                    margin-top: 8px;
                }

                &__paragraph {
                    padding-right: 20px;
                    line-height: $msv-line-height-m;
                }

                &-cta {
                    @include link-regular-m();
                    padding-left: 20px;
                    border-left: 1px solid $msv-white;

                    &-links {
                        &:nth-child(1) {
                            text-decoration: underline;
                            color: $msv-white;
                        }

                        &:nth-child(2) {
                            padding-left: 20px;
                            padding-right: 20px;
                            text-decoration-line: underline;
                            border-left: 1px solid $msv-white;
                            color: $msv-white;
                        }
                    }
                }

                @media screen and (max-width: $msv-breakpoint-m) {
                    padding: 0;
                    position: absolute;
                    width: calc(4 * #{$msv-column-width-l});
                    margin: 0 auto;
                    right: 0;
                    align-items: flex-end;
                    margin-top: $additional-content-cta-margin-mobile;
                    margin-right: 16px;
                    top: auto;
                    bottom: auto;

                    &__text {
                        @include msv-beth-ellen(
                            $font-weight: $msv-font-weight-normal,
                            $font-style: $msv-font-style-normal,
                            $font-size: $msv-mobile-title-font-size-s,
                            $line-height: $msv-mobile-title-line-height-m
                        );
                        text-align: center;
                    }

                    &-cta {
                        text-align: left;

                        &-links {
                            &:nth-child(2) {
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                        }
                    }
                }

                @media screen and (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l - 1) {
                    padding: 0;
                    position: absolute;
                    width: calc(4 * #{$msv-column-width-m});
                    margin: 0 auto;
                    right: 0;
                    align-items: flex-end;
                    margin-top: $additional-content-cta-margin-tablet;
                    margin-right: 40px;
                    top: auto;
                    bottom: auto;

                    &__text {
                        @include msv-beth-ellen(
                            $font-weight: $msv-font-weight-normal,
                            $font-style: $msv-font-style-normal,
                            $font-size: $msv-font-size-l,
                            $line-height: $msv-tablet-title-line-height-m
                        );
                    }

                    &-cta {
                        text-align: left;

                        &-links {
                            &:nth-child(2) {
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }
        }

        &.texttheme__light .ms-content-block__details .msc-cta__primary, &.texttheme__light .ms-content-block__details .msc-cta__secondary {
            @include secondary-button-light();
        }

        &.texttheme__dark .ms-content-block__details .msc-cta__primary, &.texttheme__dark .ms-content-block__details .msc-cta__secondary {
            @include secondary-button-dark();
        }

        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content__text,
        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content__paragraph,
        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta-links:nth-child(1) {
            color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content__text,
        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content__paragraph,
        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta-links:nth-child(1) {
            color: var(--msv-content-block-textheme-dark);
        }

        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta {
            border-color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta {
            border-color: var(--msv-content-block-textheme-dark);
        }

        /**
        * Text over image by default only in modern browsers.
        * We must reflow the text to bottom in IE 11 because it doesn't support srcset and the image will be too short to put text over it.
        */

        @supports (object-fit: cover) {
            .ms-content-block__image {
                object-fit: cover;
            }
        }

        /**
        * When the image is tall enough for IE 11 to display text on top of it.
        */

        @media screen and (min-width: $msv-breakpoint-l) {
            @include overlay-text-on-image;
        }
    }

    &[data-m-layout="full-width-b2b"] {
        position: relative;

        .ms-content-block__image,
        .ms-content-block__image img {
            width: $msv-width-full;
        }

        .ms-content-block__image svg {
            width: $msv-width-full;
        }

        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        .ms-content-block__details,
        &.textplacement__left .ms-content-block__details {
            text-align: left;
            align-items: flex-start;
        }

        &.textplacement__center .ms-content-block__details {
            align-items: center;
            text-align: center;
        }

        &.textplacement__right .ms-content-block__details {
            text-align: right;
            align-items: flex-end;
        }

        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        .ms-content-block__title {
            @include font-heading-h2-l();
            color: $msv-white;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            width: calc(8 * #{$msv-column-width-s});

            @media (max-width: $msv-breakpoint-m) {
                @include font-heading-h2-s();
                width: calc(4 * #{$msv-column-width-l});
            }

            @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
                @include font-heading-h2-m();
                width: calc(8 * #{$msv-column-width-m});
            }
        }

        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        .ms-content-block__text {
            @include font-body-regular-m();
            color: $msv-white;
            width: calc(6 * #{$msv-column-width-s});

            @media (max-width: $msv-breakpoint-m) {
                width: calc(4 * #{$msv-column-width-l});
                color: $msv-white;
            }

            @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
                width: calc(8 * #{$msv-column-width-m});
                color: $msv-white;
            }
        }

        &.texttheme__light .ms-content-block__title,
        &.texttheme__light .ms-content-block__text {
            color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__title,
        &.texttheme__dark .ms-content-block__text {
            color: var(--msv-content-block-textheme-dark);
        }

        /* body should have top margin only when there's something above it */
        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        * + .ms-content-block__text {
            margin-top: $b2b-hero-content-text-margin-top;
        }

        .ms-content-block__cta {
            border-radius: 2px;
            display: flex;
            justify-content: center;
        }

        /* links should have top margin only when there's something above it */
        * + .ms-content-block__cta {
            margin-top: $b2b-hero-content-button-margin-top;
        }

        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        .ms-content-block__details {
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-top: $b2b-content-block-details-margin-top;
            margin-left: $b2b-content-block-details-margin-left;

            @media (max-width: $msv-breakpoint-m) {
                padding: $content-block-details-padding-mobile;
                position: static;
                background: $msv-gray-20;
                margin: 0;
            }

            @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
                padding: $content-block-details-padding-tablet;
                position: static;
                background: $msv-gray-20;
                margin: 0;
            }

            /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
            .msc-cta__secondary {
                @include secondary-button-dark();
                margin-left: $b2b-hero-links-secondary-margin-left;
            }

            /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
            .msc-cta__primary {
                @include primary-button-dark();
            }

            &__additional-content {
                font-style: normal;
                font-weight: $msv-font-weight-normal;
                color: $msv-white;
                margin-left: auto;
                width: $msv-width-full;
                margin-top: $b2b-hero-content-text-margin-top;

                /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
                &__text {
                    @include msv-beth-ellen(
                        $font-weight: $msv-font-weight-normal,
                        $font-style: $msv-font-style-normal,
                        $font-size: var(--msv-additional-content-text-font-size),
                        $line-height: $additional-content-line-height
                    );
                    color: $msv-white;
                    text-align: center;
                }

                &__container {
                    display: flex;
                }

                /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
                &__paragraph {
                    padding-right: $b2b-content-block-paragraph-padding-right;
                    line-height: $msv-line-height-m;
                }

                /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
                &-cta {
                    @include link-regular-m();

                    /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
                    &-links {
                        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
                        &:nth-child(1) {
                            text-decoration: underline;
                            color: $msv-white;
                        }

                        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
                        &:nth-child(2) {
                            padding-left: $b2b-hero-link-to-link-padding;
                            padding-right: $b2b-hero-link-to-link-padding;
                            text-decoration-line: underline;
                            border-left: 1px solid $msv-white;
                            color: $msv-white;
                        }
                    }
                }

                @media screen and (max-width: $msv-breakpoint-m) {
                    padding: 0;
                    position: absolute;
                    width: calc(4 * #{$msv-column-width-l});
                    margin: 0 auto;
                    right: 0;
                    align-items: flex-end;
                    margin-top: $additional-content-cta-margin-mobile;
                    margin-right: $hero-link-to-link-spacing;
                    top: auto;
                    bottom: auto;

                    &__text {
                        @include msv-beth-ellen(
                            $font-weight: $msv-font-weight-normal,
                            $font-style: $msv-font-style-normal,
                            $font-size: $msv-mobile-title-font-size-s,
                            $line-height: $msv-mobile-title-line-height-m
                        );
                        text-align: center;
                    }

                    &-cta {
                        text-align: left;

                        &-links {
                            &:nth-child(2) {
                                padding-left: $additional-content-link-padding;
                                padding-right: $additional-content-link-padding;
                            }
                        }
                    }
                }

                @media screen and (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
                    padding: 0;
                    position: absolute;
                    width: calc(4 * #{$msv-column-width-m});
                    margin: 0 auto;
                    right: 0;
                    align-items: flex-end;
                    margin-top: $additional-content-cta-margin-tablet;
                    margin-right: $b2b-hero-body-right-margin;
                    top: auto;
                    bottom: auto;

                    &__text {
                        @include msv-beth-ellen(
                            $font-weight: $msv-font-weight-normal,
                            $font-style: $msv-font-style-normal,
                            $font-size: $msv-font-size-l,
                            $line-height: $msv-tablet-title-line-height-m
                        );
                    }

                    &-cta {
                        text-align: left;

                        &-links {
                            &:nth-child(2) {
                                padding-left: $additional-content-link-padding;
                                padding-right: $additional-content-link-padding;
                            }
                        }
                    }
                }
            }
        }

        &.texttheme__light .ms-content-block__details .msc-cta__primary {
            @include primary-button-dark();
        }

        &.texttheme__dark .ms-content-block__details .msc-cta__primary {
            @include primary-button-light();
        }

        &.texttheme__light .ms-content-block__details .msc-cta__secondary {
            @include secondary-button-dark();
        }

        &.texttheme__dark .ms-content-block__details .msc-cta__secondary {
            @include secondary-button-light();
        }

        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content__text,
        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content__paragraph,
        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta-links:nth-child(1) {
            color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content__text,
        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content__paragraph,
        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta-links:nth-child(1) {
            color: var(--msv-content-block-textheme-dark);
        }

        &.texttheme__light .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta {
            border-color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__details__additional-content .ms-content-block__details__additional-content-cta {
            border-color: var(--msv-content-block-textheme-dark);
        }

        /**
        * Text over image by default only in modern browsers.
        * We must reflow the text to bottom in IE 11 because it doesn't support srcset and the image will be too short to put text over it.
        */

        @supports (object-fit: cover) {
            .ms-content-block__image {
                object-fit: cover;
            }
        }

        /**
        * When the image is tall enough for IE 11 to display text on top of it.
        */

        @media screen and (min-width: $msv-breakpoint-l) {
            @include overlay-text-on-image;
        }
    }
}

@media screen and (max-width: $msv-breakpoint-l) {
    .ms-content-block {
        &[data-m-layout="full-width"] {
            &.texttheme__dark .ms-content-block__title,
            &.texttheme__dark .ms-content-block__text {
                color: $msv-gray-60;
            }

            &.texttheme__light .ms-content-block__title,
            &.texttheme__light .ms-content-block__text {
                color: var(--msv-content-block-textheme-light);
            }
        }

        &[data-m-layout="full-width-b2b"] {
            &.texttheme__dark .ms-content-block__title,
            &.texttheme__dark .ms-content-block__text {
                color: $msv-gray-60;
            }

            &.texttheme__light .ms-content-block__title,
            &.texttheme__light .ms-content-block__text {
                color: var(--msv-content-block-textheme-light);
            }

            & .ms-content-block__cta {
                flex-direction: column;

                .msc-cta__secondary {
                    margin-left: 0;
                    margin-top: $b2b-hero-links-mobile-secondary-margin-top;
                }
            }

            & .ms-content-block__details__additional-content {
                margin-top: $b2b-hero-content-text-margin-top;
                position: relative;
                margin-left: 0;
            }
        }
    }
}
