$msv-svg-icon-snowboarding: "https://files-us-sb.cms.commerce.dynamics.com/cms/api/qdhmsxlvbl/binary/SBvdG";
$msv-svg-icon-camping: "https://files-us-sb.cms.commerce.dynamics.com/cms/api/qdhmsxlvbl/binary/SBvdB";
$msv-svg-icon-cycling: "https://files-us-sb.cms.commerce.dynamics.com/cms/api/qdhmsxlvbl/binary/SBAq6";
$msv-svg-icon-swimming: "https://files-us-sb.cms.commerce.dynamics.com/cms/api/qdhmsxlvbl/binary/SBxOT";
$msv-svg-icon-climbing: "https://files-us-sb.cms.commerce.dynamics.com/cms/api/qdhmsxlvbl/binary/SBnre";
$msv-svg-icon-yoga: "https://files-us-sb.cms.commerce.dynamics.com/cms/api/qdhmsxlvbl/binary/SBvdH";
/* stylelint-disable-next-line max-line-length -- Auto-suppressed. Please fix if possible. */
$msv-svg-icon-zoom: "data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='12%2c 17' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e";
