@import "../common/00-settings/colors.scss";
@import "../common/00-settings/icons.scss";
@import "../common/00-settings/font.scss";
@import "../common/02-generic/button.scss";
@import "../common/00-settings/responsive-breakpoints.scss";
@import "../common/01-tools/layout.scss";
@import "../common/02-generic/image.scss";
@import "../common/02-generic/reset.scss";
@import "../common/01-tools/mixins.scss";
@import "../common/01-tools/bootstrap.scss";

$msv-comparison-accent-color: $msv-gray-20;
$msv-comparison-main-color: $msv-gray-100;
$msv-comparison-secondary-color: $msv-gray-20;
$msv-comparison-remove-button-background-color: rgba(0, 0, 0, 0.41);
$msv-comparison-header-bottom-border: 0 0.6px 1.8px rgba(0, 0, 0, 0.1), 0 3.2px 7.2px rgba(0, 0, 0, 0.13);
$msv-comparison-clicker-box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.1), 0 1.6px 3.6px rgba(0, 0, 0, 0.13);
$msv-comparison-rating-font-size: 10px;

:root {
    --msv-comparison-header-color: var(--msv-font-primary-color);
    --msv-comparison-btn-bg: #{$msv-white};
    --msv-comparison-clicker-button-color: #{$msv-comparison-accent-color};
    --msv-comparison-main-color: #{$msv-comparison-main-color};
    --msv-comparison-clicker-button-background-color: #{$msv-comparison-secondary-color};
    --msv-comparison-remove-button-background-color: #{$msv-comparison-remove-button-background-color};
    --msv-comparison-remove-button-font-size: #{$msv-font-size-l};
}

.msc-product-comparison {
    @include font-body-regular-m();

    @media (max-width: $msv-breakpoint-m) {
        margin-left: unset;
        margin-right: unset;
    }

    &__back-button {
        @include add-icon($msv-BackArrow);
        @include font-body-regular-s();
        margin-top: 50px;
        margin-left: 60px;
        cursor: pointer;

        @media (max-width: $msv-breakpoint-m) {
            margin-left: 16px;
        }

        @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
            margin-left: 24px;
        }

        &:hover {
            text-decoration: none;
        }

        &::before {
            color: $msv-blue;
            align-items: center;
            display: flex;
            margin-right: 12px;
        }
    }

    &__header {
        @include font-heading-h1-l();
        color: var(--msv-comparison-header-color);
        margin: 20px 0;
        margin-left: 60px;

        @media (max-width: $msv-breakpoint-m) {
            margin-left: 16px;
        }

        @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
            margin-left: 24px;
        }
    }

    &__loading {
        margin-left: 60px;

        @media (max-width: $msv-breakpoint-m) {
            margin-left: 16px;
        }

        @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
            margin-left: 24px;
        }
    }

    &__product_count_text {
        @include font-body-regular-m();
        margin-bottom: 20px;
        margin-left: 60px;

        @media (max-width: $msv-breakpoint-m) {
            margin-left: 16px;
        }

        @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
            margin-left: 24px;
        }
    }

    &__action-bar {
        margin-bottom: 20px;
        margin-left: 50px;

        @media (max-width: $msv-breakpoint-m) {
            margin-left: 6px;
        }

        @media (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
            margin-left: 14px;
        }

        &__clear-all-button {
            @include secondary-button(var(--msv-comparison-btn-bg));
            @include vfi();
        }

        > button {
            margin: 0 10px;
            cursor: pointer;
        }

        @media only screen and (max-width: $msv-breakpoint-m) {
            display: flex;
            flex-direction: column;

            button:not(:last-child) {
                margin-bottom: 1.35rem;
            }
        }
    }

    &__main-container {
        display: flex;
        justify-content: center;

        &__container {
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;

            &__table {
                border-spacing: 0;
                display: inline-block;
                width: 100%;

                &__row {
                    display: flex;
                    width: fit-content;
                    margin: auto;

                    &__header-cell {
                        vertical-align: top;
                        text-align: left;
                        padding: 20px;
                        border-collapse: collapse;
                        position: sticky;
                        min-width: 315px;
                        max-width: 315px;
                        width: 315px;

                        @media (max-width: $msv-breakpoint-m) {
                            min-width: 156px;
                            max-width: 156px;
                            width: 156px;
                        }

                        &.msc-product-comparison__cell-hover {
                            background: $msv-white-20;
                            z-index: -1;
                        }
                    }

                    &__cell {
                        min-width: 315px;
                        max-width: 315px;
                        width: 315px;
                        padding: 20px;
                        border-collapse: collapse;
                        vertical-align: top;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .msc-rating {
                            line-height: 20px;

                            @media (max-width: $msv-breakpoint-m) {
                                .msc-rating__star, .msc-rating__empty-star, .msc-rating__half-star {
                                    font-size: $msv-comparison-rating-font-size;
                                    display: inline-flex;
                                }
                            }
                        }

                        @media (max-width: $msv-breakpoint-m) {
                            min-width: 156px;
                            max-width: 156px;
                            width: 156px;
                            font-size: 14px;
                            line-height: 18px;

                            .msc-rating__count, .msc-rating__group {
                                font-size: 10px;
                            }
                        }

                        &:last-child {
                            border: none;
                        }

                        &.msc-product-comparison__cell-hover {
                            background: $msv-white-20;
                        }
                    }
                }

                &__body {
                    overflow: hidden;
                    margin-left: 140px;
                    margin-right: 140px;

                    @media (max-width: $msv-breakpoint-lg) {
                        margin-left: 16px;
                        margin-right: 16px;
                    }

                    .msc-product-comparison__main-container__container__table__row {
                        display: flex;
                        flex-direction: column;

                        &-content {
                            border-bottom: 0.5px solid $msv-gray-50;
                            display: flex;

                            &__information {
                                border-bottom: none;
                            }
                        }

                        &__header-cell {
                            @include font-heading-h3-l();
                            padding: 50px 10px;
                            position: sticky;
                            left: 0;

                            @media (max-width: $msv-breakpoint-m) {
                                padding: 10px;
                                font-size: 18px;
                            }
                        }
                    }
                }

                &__header {
                    top: 0;
                    position: sticky;
                    z-index: 4;
                    overflow: hidden;

                    &__header__container {
                        margin-left: 140px;
                        margin-right: 140px;
                        overflow: hidden;

                        @media (max-width: $msv-breakpoint-lg) {
                            margin-left: 16px;
                            margin-right: 16px;
                        }
                    }

                    &__locked {
                        box-shadow: $msv-comparison-header-bottom-border;
                    }

                    @media (max-width: $msv-breakpoint-m) {
                        position: unset;
                        top: unset;
                    }

                    &__product-row {
                        background-color: $msv-white;

                        &__product-name {
                            @include font-heading-h5-l();
                            font-weight: bold;
                            margin: 10px;
                            text-align: center;

                            @media (max-width: $msv-breakpoint-m) {
                                font-size: 16px;
                                line-height: 20px;
                                margin: 10px;
                            }
                        }

                        &__product-price {
                            display: flex;
                            text-align: center;

                            .msc-price {
                                margin-right: auto;
                                margin-left: auto;

                                @include font-body-regular-m();
                            }

                            .msc-price__strikethrough {
                                color: $msv-gray-40;
                                margin-right: 10px;
                                text-decoration-line: line-through;

                                @media (max-width: $msv-breakpoint-m) {
                                    margin-right: 0;
                                }
                            }
                        }

                        &__product-image-container {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 10px;
                            width: fit-content;

                            @include image(275px, 205px);

                            @media (max-width: $msv-breakpoint-m) {
                                @include image(116px, 80px);
                            }
                        }

                        &__actions {
                            padding-top: 10px;
                            margin-top: auto;

                            a, button {
                                @include secondary-button();
                                font-weight: initial;
                                cursor: pointer;
                                padding: 12px;

                                @media (max-width: $msv-breakpoint-m) {
                                    min-width: unset;
                                    padding: 12px;
                                    font-size: 12px;
                                    height: auto;
                                    text-align: center;
                                    line-height: 14px;
                                }
                            }
                        }

                        &__remove {
                            display: none;

                            @include vfi();
                            @include add-icon($msv-Cancel);
                            border: 1px solid transparent;
                            position: absolute;
                            top: 0;
                            right: 0;
                            cursor: pointer;
                            margin: 8px;
                            background: var(--msv-comparison-remove-button-background-color);
                            color: $msv-white;
                            border-radius: 4px;
                            width: 48px;
                            height: 48px;
                            z-index: 10;
                            font-size: var(--msv-comparison-remove-button-font-size);
                        }
                    }

                    .msc-product-comparison__main-container__container__table__row__header-cell {
                        top: 0;
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &.msc-product-comparison__cell-hover {
                            box-shadow: $msv-depth8;
                            background: transparent;
                            margin-bottom: 5px;

                            .msc-product-comparison__main-container__container__table__header__product-row__remove {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }

                &__clicker {
                    align-items: center;
                    color: var(--msv-comparison-clicker-button-color);
                    display: flex;
                    height: 48px;
                    width: 48px;
                    justify-content: center;
                    position: absolute;
                    text-align: center;
                    transition: none;
                    z-index: 16;
                    top: 50%;
                    font-size: 24px;
                    cursor: pointer;
                    background-color: $msv-white;

                    @media (max-width: $msv-breakpoint-m) {
                        position: fixed;
                    }

                    @include hover-focus {
                        outline: none;
                        text-decoration: none;
                        background-color: $msv-white-20;
                        border-radius: 50%;

                        .msc-product-comparison__main-container__container__table__clicker__previous__icon,
                        .msc-product-comparison__main-container__container__table__clicker__next__icon {
                            color: var(--msv-comparison-clicker-button-background-color);
                        }
                    }

                    &::before {
                        bottom: 0;
                        content: "";
                        display: block;
                        left: 0;
                        outline-offset: 1px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    &__previous {
                        left: 20px;
                        border: none;
                        border-radius: 50%;
                        box-shadow: $msv-comparison-clicker-box-shadow;

                        &__icon {
                            @include add-icon($msv-ChevronLeft);
                            margin: 4px;
                            margin-top: 8px;
                        }
                    }

                    &__next {
                        right: 20px;
                        border: none;
                        border-radius: 50%;
                        box-shadow: $msv-comparison-clicker-box-shadow;

                        &__icon {
                            @include add-icon($msv-ChevronRight);
                            margin: 4px;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    &__empty-container {
        border: 0.5px solid $msv-gray-50;
        border-radius: 10px;
        margin: 58px 40px 0;
        display: block;
        color: $msv-gray-20;
        text-align: center;
        margin-left: 75px;
        margin-right: 45px;

        .ms-content-block {
            .ms-content-block__details {
                .ms-content-block__title {
                    @include font-heading-h2-l();
                    padding: 75px 0 0;
                    max-width: 465px;
                    margin: auto;
                }

                .ms-content-block__text {
                    margin-top: 44px;

                    @include font-body-regular-s();
                }

                .ms-content-block__cta {
                    margin-top: 64px;
                    margin-bottom: 102px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-left: 86px;

                    a {
                        @include feature-link-light-m();
                        margin-right: 68px;
                        letter-spacing: normal;

                        &::before {
                            background-color: $msv-blue-80;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        @media (max-width: 767px) {
            border: none;
            border-radius: 0;
            margin: 40px 5px 0;

            .ms-content-block {
                .ms-content-block__details {
                    .ms-content-block__cta {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 32px;
                        margin-top: 48px;
                        padding-left: 0;

                        a {
                            margin-bottom: 44px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        @media (min-width: 768px) and (max-width: 992px) {
            margin-top: 42px;
            margin-left: 25px;
            margin-right: 25px;

            .ms-content-block {
                .ms-content-block__details {
                    .ms-content-block__cta {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 58px;
                        margin-top: 48px;
                        padding-left: 0;

                        a {
                            margin-bottom: 44px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
