.msc-product-badges {
    position: absolute;
    top: 8px;
    left: 0;

    &__item {
        display: flex;
        flex-direction: column;
        background: #2266E3;
        color: $msv-white;
        border-radius: 0 8px 8px 0;
        padding: 8px 8px;
        margin-bottom: 5px;
        width: 150px;
        height: 40px;
    }

    &__content {
        width: 150px;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.ms-buybox {
    .msc-product-badges {
        top: 50px;
        left: 125px;
    }
}

.ms-quickView__dialog {
    .msc-product-badges {
        top: 120px;
        left: 85px;
    }
}

@media screen and (max-width: $msv-breakpoint-m) {
    .ms-buybox {
        .msc-product-badges {
            left: 0;
        }
    }
}
