$content-block-min-height: 150px;
$hero-body-font-size: 16px;
$hero-body-line-height: 21px;
$hero-body-font-weight: normal;
$hero-body-max-length: 30em;
$hero-body-top-margin: 8px;
$hero-content-text-margin-top: 16px;
$hero-content-button-margin-top: 32px;
$hero-heading-font-size: 32px;
$hero-heading-line-height: 43px;
$hero-heading-font-weight: normal;
$hero-heading-max-length: 30em;
$hero-link-to-link-spacing: 16px;
$hero-links-secondary-padding: 12px 20px;

$additional-content-cta-margin-mobile: -332px;
$additional-content-cta-margin-tablet: -410px;

:root {
    // heading
    --msv-content-block-heading-font-size: #{$hero-heading-font-size};
    --msv-content-block-heading-font-color: var(--msv-font-primary-color);

    // Text theme
    --msv-content-block-textheme-dark: var(--msv-font-primary-color);
    --msv-content-block-textheme-light: #{$msv-gray-60};
    --msv-content-block-text-font-size: var(--msv-body-font-size-m);

    // primary button
    --msv-content-block-primary-btn-bg: var(--msv-accent-brand-color);
    --msv-content-block-primary-btn-font-color: var(--msv-font-secondary-color);
    --msv-content-block-primary-btn-border: var(--msv-accent-brand-color);

    // additional content
    --msv-additional-content-text-font-color: #{$msv-white};
    --msv-additional-content-links-border-color: #{$msv-white};
}

@mixin overlay-text-on-image {
    .ms-content-block__details {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

.ms-content-block {
    min-height: $content-block-min-height;

    &[data-m-layout="full-width"] {
        position: relative;

        .ms-content-block__image,
        .ms-content-block__image img {
            width: 100%;
        }

        .ms-content-block__image .ms-editable-field {
            /* stylelint-disable-next-line declaration-no-important -- Used to override default image inline style for the placeholder in editorial mode. */
            width: 100% !important;
        }

        .ms-content-block__details,
        &.textplacement__left .ms-content-block__details {
            text-align: left;
            align-items: flex-start;
        }

        &.textplacement__center .ms-content-block__details {
            align-items: center;
            text-align: center;
        }

        &.textplacement__right .ms-content-block__details {
            text-align: right;
            align-items: flex-end;
        }

        .ms-content-block__title {
            color: var(--msv-content-block-heading-font-color);
            font-weight: $msv-font-weight-normal;
            font-size: var(--msv-content-block-heading-font-size);
            line-height: $hero-heading-line-height;
            max-width: $hero-heading-max-length;
            word-break: break-word;
        }

        .ms-content-block__text {
            @include font-content($msv-font-weight-normal, var(--msv-content-block-text-font-size),
            $hero-body-line-height);
            color: var(--msv-content-block-textheme-dark);
            max-width: $hero-body-max-length;
            word-break: break-word;
        }

        &.texttheme__light .ms-content-block__title, &.texttheme__light .ms-content-block__text {
            color: var(--msv-content-block-textheme-light);
        }

        &.texttheme__dark .ms-content-block__title, &.texttheme__dark .ms-content-block__text {
            color: var(--msv-content-block-textheme-dark);
        }

        /* body should have top margin only when there's something above it */
        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        * + .ms-content-block__text {
            margin-top: $hero-content-text-margin-top;
            word-break: break-word;
        }

        .ms-content-block__cta {
            border-radius: 2px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-right: $hero-link-to-link-spacing;
            padding-left: $hero-link-to-link-spacing;
        }

        /* links should have top margin only when there's something above it */
        * + .ms-content-block__cta {
            margin-top: $hero-content-button-margin-top;
        }

        /* stylelint-disable-next-line no-descending-specificity -- Auto-suppressed. Please fix if possible. */
        .ms-content-block__details {
            @include msv-layout-page-side-padding;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            .msc-cta__primary {
                @include primary-button(var(--msv-content-block-primary-btn-bg),
                var(--msv-content-block-primary-btn-font-color),
                var(--msv-content-block-primary-btn-border));
                display: inline-block;
                font-size: 14px;
                line-height: 20px;
                margin: $hero-link-to-link-spacing / 2;
                min-width: 164px;
            }

            .msc-cta__secondary {
                margin: $hero-link-to-link-spacing / 2;
                padding: $hero-links-secondary-padding;
            }

            .ms-content-block__details__additional-content {
                display: flex;
                font-style: normal;
                font-weight: $msv-font-weight-normal;
                flex-direction: column;
                align-self: flex-end;
                position: absolute;
                bottom: 80px;
                color: $msv-white;

                &__text {
                    font-size: var(--msv-content-block-heading-font-size);
                    line-height: $hero-heading-line-height;
                    font-family: $msv-primary-font-family;
                    color: var(--msv-additional-content-text-font-color);
                    text-align: center;
                }

                &__container {
                    display: flex;
                    margin-top: 8px;
                }

                &__paragraph {
                    padding-right: 20px;
                    line-height: $msv-line-height-m;
                }

                &-cta {
                    font-family: $msv-primary-font-family;
                    font-size: var(--msv-content-block-text-font-size);
                    line-height: $msv-line-height-m;
                    padding-left: 20px;
                    border-left: 1px solid $msv-white;

                    &-links {
                        &:nth-child(1) {
                            padding-right: 20px;
                            text-decoration-line: none;
                            color: var(--msv-additional-content-text-font-color);
                        }

                        &:nth-child(2) {
                            padding-left: 20px;
                            padding-right: 20px;
                            text-decoration-line: underline;
                            border-left: 1px solid;
                            border-color: var(--msv-additional-content-links-border-color);
                            color: var(--msv-additional-content-text-font-color);
                        }
                    }
                }

                @media screen and (max-width: $msv-breakpoint-m) {
                    padding: 0;
                    position: absolute;
                    margin: 0 auto;
                    right: 0;
                    align-items: center;
                    margin-top: $additional-content-cta-margin-mobile;
                    left: 20px;

                    &__text {
                        font-size: $msv-font-size-xl;
                        line-height: 40px;
                    }

                    &-cta {
                        text-align: left;

                        &-links {
                            &:nth-child(1) {
                                padding-left: 4px;
                                padding-right: 4px;
                            }

                            &:nth-child(2) {
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                        }
                    }
                }

                @media screen and (min-width: $msv-breakpoint-m) and (max-width: $msv-breakpoint-l) {
                    padding: 0;
                    position: absolute;
                    margin: 0 auto;
                    right: 0;
                    align-items: center;
                    margin-top: $additional-content-cta-margin-tablet;
                    left: auto;

                    &__text {
                        font-size: $msv-font-size-l;
                        line-height: 40px;
                    }

                    &-cta {
                        text-align: left;

                        &-links {
                            &:nth-child(1) {
                                padding-left: 4px;
                                padding-right: 4px;
                            }

                            &:nth-child(2) {
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }
        }

        /**
    * Text over image by default only in modern browsers.
    * We must reflow the text to bottom in IE 11 because it doesn't support srcset and the image will be too short to put text over it.
    */

        @supports (object-fit: cover) {
            .ms-content-block__image {
                object-fit: cover;
            }
        }

        /**
    * When the image is tall enough for IE 11 to display text on top of it.
    */

        @media screen and (min-width: $msv-breakpoint-l) {
            @include overlay-text-on-image;
        }
    }
}

@media screen and (max-width: $msv-breakpoint-l) {
    .ms-content-block {
        &[data-m-layout="full-width"] {
            /* stylelint-disable no-descending-specificity -- Auto-suppressed. Please fix if possible. */
            &.texttheme__light .ms-content-block__title,
            &.texttheme__light .ms-content-block__text,
            /* stylelint-enable no-descending-specificity -- Auto-suppressed. Please fix if possible. */
            &.texttheme__dark .ms-content-block__title,
            &.texttheme__dark .ms-content-block__text,
            .ms-content-block__title,
            .ms-content-block__text {
                color: $msv-gray-60;
            }
        }
    }
}
