.ms-checkout-shipping-address {
    &__group-images {
        margin-bottom: 20px;
        min-height: 165px;

        &-header {
            float: left;
            line-height: 29px;
            margin-bottom: 12px;

            &-main {
                @include add-icon($msv-DeliveryTruck, before);

                &::before {
                    padding-right: 10px;
                }
                float: left;
                font-size: 22px;
                font-weight: bold;
                margin-right: 10px;
            }

            &-item {
                float: left;
                font-size: 20px;
                font-weight: normal;
                margin-left: 5px;
            }
        }

        &-lines {
            clear: both;

            &-product {
                float: left;
                position: relative;
                margin-top: 12px;
                margin-right: 12px;
                margin-bottom: 20px;
            }

            &-product.product-image-wide {
                margin-right: 24px;
            }

            &-line-image {
                position: relative;
                width: 108px;
                height: 108px;
            }

            &-line-quantity {
                border-radius: 50%;
                border: 1px solid $msv-green;
                background-color: $msv-white;
                position: absolute;
                width: 30px;
                height: 30px;
                bottom: 0;
                right: -15px;
                font-size: 14px;
                line-height: 30px;
                text-align: center;
                z-index: 1;
            }
        }
    }
    .delivery-notes {
        padding-top: 20px;
        clear: both;
        .deliveryNotes-textarea {
          width: 100%;
          min-height: 150px;
          padding: 5px;
          font-size: var(--msv-address-font-size);
          color: var(--msv-checkout-shipping-address-font-color);
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
}
