<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Graph API configuration -->
    <add key="B2CTenant" value="test.onmicrosoft.com" />
    <add key="B2CClientId" value="" />
    <add key="B2CClientSecret" value="" />
    <add key="PropertyExtension" value="" />
    <add key="InputFile" value="CustomerData.csv" />

    <!-- AX Odata Client & AAD configuration -->
    <add key="CreateUserMappingInAX" value="false" />
    <add key="AX-AOS-Url" value="https://test.sandbox.operations.dynamics.com" />
    <add key="AX-AAD-Tenant" value="B2BTenant.onmicrosoft.com" />
    <add key="AX-AAD-ClientId" value="" />
    <add key="AX-AAD-ClientPassword" value="" />
    <add key="ProviderId" value="5637148326" />
    <add key="DataAreaId" value="it01" />

    <!-- B2C configuration -->
    <add key="NonInteractiveClientId" value="" />
    <add key="NonInteractivePolicyId" value="" />
    <add key="Scope" value="" />
    <add key="LoginDomain" value="" />

    <!-- AX Retail Server configuration -->
    <add key="RetailServerEndpoint" value="" />
    <add key="OperatingUnitNumber" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 </configuration>
