<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Graph API configuration -->
    <add key="B2CTenant" value="test.onmicrosoft.com" />
    <add key="B2CClientId" value="" />
    <add key="B2CClientSecret" value="" />
    <add key="PropertyExtension" value="" />
    <add key="InputFile" value="CustomerData.csv" />

    <!-- AX Odata Client & AAD configuration -->
    <add key="CreateUserMappingInAX" value="false" />
    <add key="AX-AOS-Url" value="https://test.sandbox.operations.dynamics.com" />
    <add key="AX-AAD-Tenant" value="B2BTenant.onmicrosoft.com" />
    <add key="AX-AAD-ClientId" value="" />
    <add key="AX-AAD-ClientPassword" value="" />
    <add key="ProviderId" value="5637148326" />
    <add key="DataAreaId" value="it01" />

    <!-- B2C configuration -->
    <add key="NonInteractiveClientId" value="" />
    <add key="NonInteractivePolicyId" value="" />
    <add key="Scope" value="" />
    <add key="LoginDomain" value="" />

    <!-- AX Retail Server configuration -->
    <add key="RetailServerEndpoint" value="" />
    <add key="OperatingUnitNumber" value="" />
  </appSettings>
 </configuration>
